[build]
  command = "npm run build"
  publish = "dist"
  functions = "functions"

[functions]
  node_bundler = "esbuild"

[functions.amm-poller]
  schedule = "*/1 * * * *"

[functions.fee-worker]
  schedule = "*/5 * * * *"

[[headers]]
  for = "/*.mp4"
  [headers.values]
    Content-Type = "video/mp4"
    Cache-Control = "public, max-age=31536000, immutable"
